.curve-3__svg-tablet {
    position: absolute;
    top: -60px;
    left: -240px;
}
.f3-curve-tablet {
    position: absolute;
    top: 950px;
    right: 0px;
}
.curve-4__svg-tablet {
    position: absolute;
    top: -2px;
    left: 24px;
}
.f4-curve-tablet {
    position: absolute;
    top: -2px;
    left: -77px;
}
.curve-5__svg-tablet {
    position: absolute;
    top: -18px;
    left: 0px;
}
.f5-curve-tablet {
    position: absolute;
    top: -50px;
    left: -81px;
}
.curve-6__svg-tablet {
    position: absolute;
    top: -0px;
    left: 20px;
}
.f6-curve-tablet {
    position: absolute;
    top: 687px;
    left: -65px;
}