.b7__container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1283px;
  height: 100%;
  transform: translateX(-50%);
}

.b7-curve {
  position: absolute;
  top: 500px;
  right: -1340px;
}