.f8 {
    margin-top: 130px;
    color: #000;
}
.f8__container {
    max-width: 896px;
    width: 100%;
    background: transparent;
    color: transparent;
    height: 750px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}