@media screen and (max-width: 1700px) { 

}
@media screen and (max-width: 1600px) {
    .header__container {
        max-width: 992px;
    }
    .fs1__container {
        max-width: 992px;
    }
    .fs1__title {
        font-size: 70px;
        line-height: 86px;
        margin-bottom: 25px;
    }
    .fs1__subtitle {
        font-size: 18px;
        margin-bottom: 45px;
    }
    .fs1__line {
        width: 100%;
    }
    .fs1__line-text {
        font-size: 14px;
    }
    .fs1__line-text--20 {
        font-size: 19px;
    }

    .fs1__text-24 {
        margin-bottom: 40px;
    }
    .fs1__text-48 {
        font-size: 40px;
        line-height: 48px;
        max-width: 800px;
        margin-bottom: 60px;
    }

    .position-block-7::after {
        bottom: 0;
        width: 439px;
        height: 450px;
        background-size: contain;
    }
    .position-block-7::before {
        background-size: contain;
        width: 226px;
        height: 234px;
    }
    .accordionjs {
        max-width: 1000px;
        margin: 0 auto;
    }
    .f6__form {
        max-width: 1000px;
        margin: 40px auto 0;
    }
    .f7__form {
        max-width: 1000px;
        margin: 0 auto;
    }
    .f7__form-inputs {
        max-width: 585px;
    }
    .footer__container  {
        max-width: 1000px;
    }
    .footer-logo-1 {
        margin-top: 50px;
    }
    .fs1__curve-1 {
        top: 648px;
    }
    .curve-1_svg-base {
        width: 770px!important;
    }
    .curve-1__svg-front {
        width: 770px!important;
    }
    .fs1__group {
        margin-bottom: 85px;
    }
    .fs1__group-line {
        margin-bottom: 85px;
    }
    .curve-5_svg-base {
        width: 1200px!important;
    }
    .curve-5_svg-front {
        width: 1240px!important;
    }
    .footer {
        margin-top: 150px;
    }
    .f8__container {
        height: 710px;
    }
}
@media screen and (max-width: 1440px) { 
    .fs1__curve-1 {
        right: -95px;
    }
    .f3__slide-group {
        position: relative;
        z-index: 2;
    }
    .fs1__group-line {
        margin-bottom: 120px;
    }
    #slide-4 {
        transform: translate(215%, 140%);
    }
    .f3-curve {
        top: 160px;
        left: -185px;
    }
    .f4__bgimg2 {
        left: 20px;
    }
    .f6-curve {
        top: 705px;
    }
}
@media screen and (max-width: 1350px) { 
    .curve-1__svg-front {
        width: 735px!important;
    }
    .curve-1_svg-base {
        width: 735px!important;
    }
    .curve-3__svg-front {
        width: 2516px!important;
    }
    .curve-3_svg-base {
        width: 2500px!important;
    }
    .fs1__curve-1 {
        top: 630px;
    }
    .f3__title {
        margin: 70px 0 60px 0;
    }
    .f3__slide-comment {
        padding: 43px 97px 48px 71px;
        font-size: 20px;
        max-width: 1080px;
    }
    .f3-curve {
        top: 176px;
    }
}
@media screen and (max-width: 1300px) { 
    .f3__slide-comment {
        max-width: 990px;
        font-size: 20px;
    }
    .f6__title {
        margin: 0 0 50px 70px;
    }
}
@media screen and (max-width: 1200px) { 
    .fs1__title {
        margin-bottom: 40px;
    }
    .fs1__group {
        margin-bottom: 90px;
    }
    .fs1__subtitle {
        margin-bottom: 40px;
    }
    .header {
        padding: 55px 0 70px;
    }
    .curve-3__svg-front {
        width: 2193px !important;
    }
    .curve-3_svg-base {
        width: 2199px !important;
    }
    .curve-1_svg-base {
        width: 665px !important;
    }
    .curve-1__svg-front {
        width: 665px !important;
    }
    .f5-curve {
        left: -126px;
    }
    .curve-8_svg-front {
        width: 1100px !important;
    }
    .curve-8_svg-base {
        width: 1100px !important;
    }
    .f6-curve {
        top: 662px;
    }
}
@media screen and (max-width: 1200px) { 
    .curve-3__svg-front {
        width: 1975px !important;
    }
    .curve-3_svg-base {
        width: 1980px !important;
    }
    .f3-curve {
        top: 195px;
    }
    .f5-curve {
        left: -171px;
        top: 93px;
    }
}
@media screen and (max-width: 1075px) { 
    .fs1__curve-1 {
        right: -117px;
    }
    .curve-3__svg-front {
        width: 1820px !important;
    }
    .curve-3_svg-base {
        width: 1820px !important;
    }
    .f3-curve {
        top: 207px;
    }
    .curve-5_svg-base {
        width: 1120px !important;
    }
    .curve-5_svg-front {
        width: 1154px !important;
    }
    .f4__text {
        max-width: 580px;
    }
    .f5__container {
        max-width: 831px;
        row-gap: 63px;
        margin: 337px auto;
    }
    .f5__block {
        column-gap: 115px;
    }
    .f7 {
        margin-top: 200px;
    }
    .f8__container {
        height: 771px;
    }
}
@media screen and (max-width: 1000px) {
    .slides-container {
        display: none;
    }
    #slides {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    .tablet {
        display: none;
    }
    .tablet-footer {
        display: none;
    }
}

@media screen and (max-height: 900px) {
    #slide-4 {
        -webkit-transform: translate(200%, 140%);
        -ms-transform: translate(200%, 140%);
        transform: translate(200%, 140%);
    }
    #slide-8 {
        -webkit-transform: translate(400%, 357%);
        -ms-transform: translate(400%, 357%);
        transform: translate(400%, 357%);
    }
}

@media screen and (max-height: 850px) {
    .footer {
        padding: 130px 0;
    }
    #slide-3 {
        -webkit-transform: translate(100%, 138%);
        -ms-transform: translate(100%, 138%);
        transform: translate(100%, 138%);
    }
    #slide-4 {
        -webkit-transform: translate(200%, 130%);
        -ms-transform: translate(200%, 130%);
        transform: translate(200%, 138%);
    }
    #slide-5 {
        -webkit-transform: translate(300%, 130%);
        -ms-transform: translate(300%, 130%);
        transform: translate(300%, 138%);
    }
    #slide-7 {
        -webkit-transform: translate(300%, 301%);
        -ms-transform: translate(300%, 301%);
        transform: translate(300%, 311%);
    }
    #slide-8 {

        -webkit-transform: translate(400%,310%);
        -ms-transform: translate(400%,310%);
        transform: translate(400%,310%);
    }
}
@media screen and (max-height: 830px) { 
    .footer {
        padding: 115px 0;
    }
    .fs1-circle-red {
        position: absolute;
        top: 76px;
        left: -1px;
        z-index: 999;
    }
    .fs2-circle-red {
        position: absolute;
        bottom: 99px;
        right: -2px;
        z-index: 999;
    }
    .fs5-circle-red {
        position: absolute;
        top: 130px;
        left: 12px;
        z-index: 999;
    }
    .fs6-circle-red {
        position: absolute;
        bottom: 131px;
        right: -31px;
        z-index: 999;
    }
    .fs7-circle-red {
        position: absolute;
        top: 9px;
        left: -7px;
        z-index: 999;
    }
}
@media screen and (max-height: 815px) { 
    .footer {
        padding: 70px 0;
    }
}
@media screen and (max-height: 800px) { 
    .header {
        padding: 55px 0 80px;
    }
    .fs1__title {
        margin-bottom: 45px;
    }
    .fs1__text {
        margin-bottom: 25px;
    }
    .f3__title {
        margin: 50px 0 45px 0;
    }
    .fs1__group {
        margin-bottom: 95px;
    }
    .fs1__group-line {
        margin-bottom: 100px;
    }
    .fs1__curve-1 {
        top: 693px;
    }
    .f4__title {
        margin: 70px 0 194px 0;
    }
    .f6 {
        padding-top: 24px;
    }
    .accordionjs .acc_active {
        padding-bottom: 15px;
    }
    .f6-curve {
        top: 627px;
    }
    .footer {
        padding: 70px 0;
    }
    #slide-3 {
        -webkit-transform: translate(100%, 156%);
        -ms-transform: translate(100%, 156%);
        transform: translate(100%, 156%);
    }
    #slide-4 {
        -webkit-transform: translate(200%, 156%);
        -ms-transform: translate(200%, 156%);
        transform: translate(200%, 156%);
    }
    #slide-5 {
        -webkit-transform: translate(300%, 151%);
        -ms-transform: translate(300%, 151%);
        transform: translate(300%, 151%);
    }
    #slide-7 {
        -webkit-transform: translate(300%, 341%);
        -ms-transform: translate(300%, 341%);
        transform: translate(300%, 341%);
    }
    #slide-8 {
        -webkit-transform: translate(400%, 340%);
        -ms-transform: translate(400%, 340%);
        transform: translate(400%, 340%);
    }
}
@media screen and (max-height: 775px) {
    .f6-curve {
        top: 642px;
    }
    .footer {
        padding: 90px 0;
    }
    #slide-3 {
        -webkit-transform: translate(100%, 168%);
        -ms-transform: translate(100%, 168%);
        transform: translate(100%, 168%);
    }
    #slide-4 {
        -webkit-transform: translate(200%, 168%);
        -ms-transform: translate(200%, 168%);
        transform: translate(200%, 168%);
    }
    #slide-5 {
        -webkit-transform: translate(300%, 157%);
        -ms-transform: translate(300%, 157%);
        transform: translate(300%, 157%);
    }
    #slide-7 {
        -webkit-transform: translate(300%, 411%);
        -ms-transform: translate(300%, 411%);
        transform: translate(300%, 411%);
    }
    #slide-8 {
        -webkit-transform: translate(400%, 410%);
        -ms-transform: translate(400%, 410%);
        transform: translate(400%, 410%);
    }
}
/* @media screen and (max-height: 830px) {
    .f7 {
        margin-top: 100px;
    }
    .f8__container {
        height: 646px;
    }
    .footer {
        padding: 70px 0 83px;
    }
} */
/* @media screen and (max-height: 815px) {
    .f7 {
        margin-top: 100px;
    }
    .f8__container {
        height: 646px;
    }
    .footer {
        padding: 70px 0 200px;
    }
    .accordionjs .acc_active {
        padding-bottom: 15px;
    }
} */