<header class="header">
    <div class="header__container">
        <ul class="header__ul">
            <li class="header__li"><a href="" class="header__link">Главная</a></li>
            <li class="header__li"><a href="" class="header__link">Для кого</a></li>
            <li class="header__li"><a href="" class="header__link">О платформе</a></li>
            <li class="header__li"><a href="" class="header__link">Конструктор маршрутов</a></li>
            <li class="header__li"><a href="" class="header__link">FAQ</a></li>
        </ul>
        <div class="header__group">
            <a href="" class="header__btn">подать заявку</a>
            <a href="" class="header__social"><img src="assets/images/telegram.svg" alt="" class="header__social-img" srcset=""></a>
        </div>
    </div>
</header>
