<!DOCTYPE html>
<html lang="ru">

    <head>
        {{> head }}
    </head>

    <body>
        <!--  {{> header }} -->

        {{> body }}

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
        <script src="assets/js/app.min.js"></script>
    </body>

</html>
